# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.pnpm-store/

# Builds
/dist/
/.next/
/out/
/build/
coverage/

# Env
.env
.env.*
!.env.example

# Docker
/docker-data/

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
